
<script type="text/javascript">
	if (localStorage.getItem(sguil_uid + '_events')) {
		$('table#event_stats tbody.content').append(localStorage.getItem(sguil_uid + '_events'));
		$.post('/connect', {});
	} else {
		$.post('/connect', {});
	};
</script>

<div class="container shadow">
	
	<table id='event_stats' class='event_stats' border="0" cellspacing="0" cellpadding="0">
		
		<thead>
		<tr>
			<th>Event ID</th>
			<th>Priority</th>
			<th>Sensor</th>
			<th>Signature</th>
			<th>Source IP</th>
			<th>Source Port</th>
			<th>Destination IP</th>
			<th>Destination Port</th>
			<th>Created At</th>
		</tr>
		</thead>

		<tbody class='content'>
			<tr class='remove_me' style='display:none;'>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
				<td>1</td>
			</tr>
		</tbody>

	</table>
	
	
	<%= erb(:pane, :layout => false) %>
	
</div>