<table id='pane' class='sensor_updates' border="0" cellspacing="0" cellpadding="0">

	<thead>
	<tr>
		<th>id</th>
		<th>Name</th>
		<th>Packet loss</th>
		<th>Avg. B/W</th>
		<th>Alerts</th>
		<th>Packets</th>
		<th>Bytes</th>
		<th>Match</th>
		<th>New SSNS</th>
		<th>TTL SSNS</th>
		<th>MAX SSNS</th>
		<th>Update Time</th>
	</tr>
	</thead>

	<tbody class='updates'>

	</tbody>

</table>