<div id='pane' class='user_messages' style='display:none;'>
	
	<ul class='messages'>
		
	</ul>
	
	<div class='submit_user_message'>
		
		<form id='new_user_message' class='new_user_message'>
			<input type="text" id='message_input' class='message_input' name='msg' autocomplete="off"> <input type="submit" value="Send Message" style=''>
		</form>
		
	</div>

</div>